
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed'), local('RobotoCn-Regular'),
        url(build/rc.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Bold Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold Condensed'), local('RobotoCn-Bold'),
        url(build/rcb.ttf) format('truetype');
}

html
{
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
/* *
 * Remove the margin in all browsers (opinionated).
   ================================================== */
body
{
    margin: 0
}
/* HTML5 display definitions
   ==========================================================================
   ================================================== */
/* *
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
   ================================================== */
/* *
 * Add the correct display in IE 9-.
   ================================================== */
audio,
canvas,
progress,
video
{
    display: inline-block
}

a
{
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}
/* *
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
   ================================================== */
a:active,
a:hover
{
    outline-width: 0
}

/* *
 * Add the correct font weight in Chrome, Edge, and Safari.
   ================================================== */
b,
strong
{
    font-weight: bolder
}

/* *
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
   ================================================== */
h1
{
    font-size: 2em;
    margin: 0.67em 0;
}
/* *
 * Correct the line-height for all headings in Chrome mobile, Firefox,
 * iOS Safari, Microsoft Edge and IE.
   ================================================== */
h1,
h2,
h3,
h4,
h5,
h6
{
    line-height: 1.15
}
/* *
 * Add the correct background and color in IE 9-.
   ================================================== */
mark
{
    background-color: #ff0;
    color: #000;
}
/* *
 * Add the correct font size in all browsers.
   ================================================== */
small
{
    font-size: 80%
}
/* *
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
   ================================================== */
sub,
sup
{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub
{
    bottom: -0.25em
}
sup
{
    top: -0.5em
}
/** Embedded content
 *    ========================================================================== 
 */
/* *
 * Remove the border on images inside links in IE 10-.
   ================================================== */
img
{
    border-style: none
}
*
{
    margin: 0;
    padding: 0;
}
html
{
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
}
.parent
{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
}
.child
{
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
}
.helper
{
    display: -moz-inline-box;
    display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
}
.clearfix:after
{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
html
{
    background: #fff url(build/img/Loader.gif) no-repeat center center
}
body
{
    background: rgba(0,0,0, 0.7) url(build/img/bg.jpg) no-repeat center center;
    background-size: cover;
}
html,
body
{
    height: 100%;
    width: 100%;
}
body
{
   opacity: 0;
   -moz-transition: opacity 1.5s;
   -webkit-transition: opacity 1.5s;
   -o-transition: opacity 1.5s;
   transition: opacity 1.5s;
}

.fadeIn {
    opacity: 1;
}

html
{
    overflow: auto
}
/* IE6
   ================================================== */
 /* IE7
   ================================================== */
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
}

.fadeInVideo {
	visibility: visible;
	opacity:1;
	transition:opacity 0.4s linear;
}


img {
    background: url(build/img/preload.gif) no-repeat center center;
    background-size: 18px;
}

.layer
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    opacity: 0;
    z-index: 1;
}

.parent
{
    z-index: 10
}
.child
{
    width: 1024px;
    height: auto;
}
.left,
.right
{
    float: left;
    overflow: hidden;
    margin: 10px;
    height: 590px;
    background: #fefbf8;
    color: #242424;
    font-size: 14px;
    border: 1px solid #f1eeec;
}
.left
{
    width: 250px;
    height: 609px;
    text-align: center;
}
.logo
{
    width: 150px;
    height: 150px;
    border-radius: 2px;
    margin: 30px auto;
    border: 4px solid #fff;
    box-shadow: 0px 0px 1px #000000;
    margin-top: 10px;
}
.resume a
{
    font-size: 12px;
    margin-left: 42px;
    text-decoration: none;
    color: #242424;
}
.resume a:hover
{
    border-bottom: 1px dotted #ADACAD
}
.f18
{
    color: #504D4F;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}
.f16
{
    color: #0095EB;
    font-size: 16px;
    margin: 0;
}
.f14, .keywords
{
    color: #242424;
    font-size: 14px;
    font-weight: 300;
    display: inline;
    margin: 0;
}

.bold
{
    font-weight: bold
}
div.tl
{
    text-align: left;
    margin-top: 10px;
    margin-left: 25px;
}
    div.tl a
    {
        color: #242424;
        text-decoration: none;
    }
    div.tl a:hover
    {
        border-bottom: 1px dotted #ADACAD
    }
.art
{
    display: block
}
.art:before
{
    display: block;
    width: 1px;
    height: 25px;
    content: "";
}
.art
{
    color: #242424;
    font-size: 16px;
    padding-left: 50px;
    text-align: left;
}
.circle
{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 3px 2px 0 0;
    display: block;
    float: left;
}
.black
{
    background: #504D4F
}
.green
{
    background: #73cebb
}
.greenlight
{
    background: #a3ce73
}


.vi
{
    background: #bccfe2
}
.contact
{
    background: url(build/img/1.png) no-repeat 27px 25px;
    margin-top: 10px;
}
.project
{
    background: url(build/img/2.png) no-repeat 27px 25px
}

.right
{
    width: 680px;
    height: 589px;
    padding: 10px;
    text-align: left;
}
.content
{
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 15px;
    border-left: 2px solid #F8F6F8;
}
.code,
.info
{
     position: absolute;
     right: 38px;
     top: 0;
     width: 350px;
     height: 185px;
     padding: 5px;
     border: 1px solid #f8f8f8;
}
.info
{
    height: auto;
    width: 340px;
    top: 206px;
    border: none;
    border-left: 1px solid #F8F6F8;
    padding-left: 16px;
}
.code li
{
    list-style: none;
    float: left;
}
.content ul
{
    margin: 5px 0 0 10px
}
.content ul:after
{
    display: block;
    width: 1px;
    height: 15px;
    content: "";
}
.head
{
    color: #0095EB;
    margin-left: -5px;
}
.info .head
{
    color: #7CB99A
}
.info .mycircle
{
    border: 1px solid #7CB99A
}
.mycircle
{
    width: 4px;
    height: 4px;
    border: 1px solid #0095EB;
    float: left;
    margin: 5px 0 0 -19px;
    border-radius: 50%;
}

#boxSlider {
    overflow: hidden;
    height: 192px;
}

.frameSlider {
    box-sizing: border-box;
    float: left;
    padding: 13px;
    width: 348px;
    padding-left: 17px;
    height: 192px;
}

#innerSlider {
    margin-left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.right .f18
{
    margin-left: 25px
}
h2[data-rating]
{
    cursor: help;
}
h2[data-rating]:hover::after
{
    visibility: visible
}
h2[data-rating]::after
{
    visibility: hidden;
    content: attr(data-rating);
    text-align: center;
    color: #242424;
    font-size: 11px;
    width: 23px;
    height: 16px;
    background: url(build/img/star.png) no-repeat 0px 0px;
    padding-top: 6px;
    background-size: 23px;
    display: inline-block;
    margin-left: 6px;
    margin-top: -9px;
}
.mainSlider
{
    width: 360px;
    height: 192px;
    overflow: hidden;
    position: relative;
}

.code:hover .left_button,
.code:hover .right_button {
    opacity: 1
}

.left_button,
.right_button
{
    opacity: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    background: #fff url(build/img/left.png) no-repeat center center;
    padding: 3px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #000000;
    z-index: 12;
    left: -30px;
    top: 76px;
    cursor: pointer;
    transition: opacity 0.2s linear;
}
.right_button
{
    left: 349px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.code:hover
{
    box-shadow: 0px 0px 3px #000000;
}
.clearfix:after
{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.code img
{
    width: 50px;
    height: 40px;
    margin: 2px;
    margin-right: 3px;
    border: 4px solid #fff;
    box-shadow: 0px 0px 2px #000000;
    cursor: pointer;
}
.modal
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 20;
    display: none;
    text-align: center;
    overflow-y: scroll;
    z-index: 10;
}
    .modal .img
    {
        min-width: 40%;
        height: auto;
        max-width: 80%;
        min-height: 300px;
        background: #fff url(build/img/preload.gif) no-repeat center center;
        background-size: 50px;
        margin: 85px auto;
        border: 5px solid #fff;
        box-shadow: 0px 1px 6px #000000;
        display: inline-block;
        vertical-align: middle;
    }
    
.closepanel
{
    position: absolute;
    top: 20px;
    width: 100%;
}
.close
{
    background: rgba(0, 0, 0, .5);
    color: #fff;
    text-align: center;
    width: 300px;
    margin: 10px auto;
    cursor: pointer;
    position: relative;
}

.btnclose {
    padding: 10px;
}

.righto, .lefto {
	position: absolute;
	top: 0;
	font-size: 23px;
	padding: 6px;
	padding-right: 10px;
	padding-left: 10px;
	background: rgba(0, 0, 0, .5);
	width: 20px;
	cursor: pointer;
}

.righto {
	right: -50px;
}

.lefto {
	left: -50px;
}

.modal:before
{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#basket
{
    display: inline
}

span.esc {
    background: #fff;
    font-size: 12px;
    color: #676767;
    min-width: 15px;
    padding: 0px 5px;
    margin-left: 6px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
}

.boxt {
	background: #fff;
    padding: 10px;
    width: 730px; /* auto dinamic */
    margin: auto;
    text-align: left;

}
.descriptionmg {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 10px;
	background: none
}

.textmg {
	word-wrap: break-word;
}


@media (max-width: 1024px)
{ 
    .left
    {
        width: 700px;
        height: 230px;
    }

	.left_button,
	.right_button {
	    opacity: 1
	}

	.code {
	    box-shadow: 0px 0px 3px #000000;
	}

    .child
    {
        width: 700px
    }
    .section1,
    .section2,
    .section3
    {
        float: left;
        margin: 10px;
    }
    .section1
    {
        margin-left: 15px
    }
    .logo
    {
        margin-bottom: 10px
    }
    .section1 .f16,
    .section1 .f14
    {
        display: none
    }
    .section2 .contact
    {
        margin-top: 0
    }
}
@media (max-width: 640px)
{ 
    .left
    {
        width: 340px
    }
    .section4
    {
        display: none
    }
    .right
    {
        width: 320px
    }
    .child
    {
        width: 320px
    }
    .section2
    {
        float: left;
        width: 10px;
        margin: 0;
    }
  
    video
    {
        display: none
    }
    .layer
    {
        display: none
    }
    .hidden
    {
        display: none
    }
}
@media (max-width: 440px)
{ 
    .left
    {
        width: 100%;
        margin: 0;
    }
    .right
    {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .left,
    .right
    {
        border: none
    }
    body
    {
        overflow-x: hidden;
        min-width: 320px;
        background: none;
        background-color: #fefbf8;
    }
    .section3
    {
        display: none
    }
    .child
    {
        width: 99%;
        display: block;
    }

    .right .f18 {
        margin-left: 36px;
    }
}
