table,thead{border:1px solid #E4E4E4}
html,textarea{box-sizing:border-box}
header,nav{display:-webkit-flex}
a:hover,nav a{text-decoration:none}
nav a,textarea{border-radius:2px}
.btn,.btn-3db:after,.btn_perspective,header,main,nav,table,textarea{width:100%}
.btn,.tcon,.tcon-checkbox label:hover,input[value=Build]:hover{cursor:pointer}
.btn:after,.tcon-checkbox label:after{content:""}
:after,:before{box-sizing:inherit}
body,html{height:100%;margin:0;padding:0}
body{background:#fff;font-family:"Source Sans pro",sans-serif}
a{color:#000}
a:hover{color:inherit}
thead{background:rgba(95,98,121,.19);border-left:none;border-right:none}
table{background:rgba(30,28,61,.03);text-align:left;border-collapse:collapse;border-top:none}
.tcon-row,.tcon-title,footer,h2,legend{text-align:center}
td,th{padding:10px}
tr{vertical-align:top}
tbody tr:nth-child(odd){background:#fff}
legend{display:block;padding:5px 10px;font-weight:bolder}
fieldset{border:none;margin:20px 0;padding:0}
textarea{display:block;min-height:150px;max-width:100%;background:#312B56;border:none;padding:12px;font-family:monospace;font-size:15px;color:#48DAE6}
input[value=Build]{appearance:none;border:none;display:block;margin:20px auto;padding:1em;width:100%;font-size:medium;background:Red;color:#fff}
input[value=Build]:active{-webkit-transform:translateY(2px);transform:translateY(2px)}
header{display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;min-height:487px;padding:10px 0;background:#1E1C3D}
nav{display:flex;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
nav a{border:2px solid #FFFEFE;transition:.2s border ease-in-out,.2s background ease-in-out,.2s color ease-in-out;display:inline-block;margin:auto 10px;padding:20px;background:0 0;color:#FFFEFE}
footer,main{padding:40px 0}
.btn,.btn:after{transition:all .4s}
nav a.active,nav a:hover{border:2px solid #FFFEFE;background:#FFFEFE;color:#000}
.btn,.tcon{border:none}
nav a:active{-webkit-transform:translateY(2px);transform:translateY(2px)}
main{display:block;max-width:786px;margin:0 auto}
@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:300;src:local('Source Sans Pro Light'),local('SourceSansPro-Light'),url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff)format('woff')}
@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:400;src:local('Source Sans Pro'),local('SourceSansPro-Regular'),url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff)format('woff')}
@font-face{font-family:'Source Sans Pro';font-style:normal;font-weight:600;src:local('Source Sans Pro Semibold'),local('SourceSansPro-Semibold'),url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff)format('woff')}
h1{font-size:5em;font-weight:400;font-weight:300}
h2{font-size:2em;font-weight:300}
.btn{position:relative;background:0 0;padding:28px 90px;display:inline-block;text-transform:uppercase;letter-spacing:2px;font-size:.9em;outline:0;font-weight:800;color:#fff;-webkit-transform:rotateX(35deg);transform:rotateX(35deg)}
.btn:after{position:absolute;z-index:-1}
.btn_perspective{-webkit-perspective:800px;perspective:800px;display:inline-block}
.btn-3d{display:block;background:#E90000;outline:transparent solid 1px;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}
.tcon,.tcon:focus,.tcon:hover{outline:0}
.tcon-row,.tcon-row h3,.tcons-items,.tcons-items li{display:-ms-flexbox}
.btn-3db:after{height:40%;left:0;top:100%;background:#C01818;-webkit-transform-origin:0 0;transform-origin:0 0;-webkit-transform:rotateX(-90deg);transform:rotateX(-90deg)}
.btn-3db:hover{-webkit-transform:rotateX(20deg);transform:rotateX(20deg)}
.tcon-title{margin:0;color:#FFFEFE}
.top-main .tcon-title, 
.top-main .tcon-tagline
	{margin:0;color:#000; float:none; text-align: justify;}

.tcon-tagline{margin-top:0;margin-bottom:24px;color:#FFFEFE}
.tcon-builder__title{color:#C0A8A8;font-weight:300}
.tcon-row{display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-content:center;-ms-flex-line-pack:center;align-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;box-shadow:0 1px 0 #dbdbdb;padding:25px 0}
.tcon-row:last-child{box-shadow:none}
.tcon-row .tcon-row__items{-webkit-flex:1;-ms-flex:1;flex:1;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;width:260px}
.tcon-row .tcon-row__items .tcon{margin:0 6px}
.tcon-row h3{display:flex;-webkit-flex:1;-ms-flex:1;flex:1;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;color:#A8A8A8}
.tcons-items{box-shadow:inset 0 1px 0 #fff,0 -1px 0 rgba(0,0,0,.04);display:flex;padding:10px 0 0!important}
.tcons-items li{display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin:0 6px;padding:10px;position:relative}
#tcon-src--html{color:#CF6949}
#tcon-src--js{color:#EFEFEF}
.tcon-checkbox{height:1rem;margin:8px 0;position:relative;width:4rem}
.tcon-checkbox input[type=checkbox]{opacity:0}
.tcon-checkbox input[type=checkbox]:focus~label{box-shadow:inset 1px 1px 2px rgba(0,0,0,.4),1px 1px 1px rgba(255,255,255,.6);background:#d3c1d1}
.tcon-checkbox input[type=checkbox]:checked~label{background:#4fbe79}
.tcon-checkbox input[type=checkbox]:checked~label:after{left:3rem}
.tcon-checkbox label{border-radius:3rem;box-shadow:inset 1px 1px 2px rgba(0,0,0,.27),1px 1px 1px rgba(255,255,255,.71);height:100%;width:100%;position:absolute;top:0;left:0;transition:background 150ms ease-in-out;text-indent:-9999em;background:#E8DFE7}
.tcon-checkbox label:after{border-radius:3rem;box-shadow:1px 1px 1px rgba(0,0,0,.42);cursor:pointer;display:block;height:.75rem;position:absolute;top:.125rem;left:.25rem;width:.75rem;transition:left 150ms ease-in-out;z-index:1;background:#FFFFFD;background-image:radial-gradient(50% 0,10% 50%,rgba(0,0,0,.1) 0,transparent 100%),radial-gradient(50% 100%,10% 50%,rgba(0,0,0,.1) 0,transparent 100%),radial-gradient(0 50%,50% 10%,rgba(0,0,0,.1) 0,transparent 100%),radial-gradient(100% 50%,50% 6%,rgba(0,0,0,.1) 0,transparent 100%);background-image:-webkit-radial-gradient(50% 0,10% 50%,rgba(0,0,0,.1) 0,transparent 100%),-webkit-radial-gradient(50% 100%,10% 50%,rgba(0,0,0,.1) 0,transparent 100%),-webkit-radial-gradient(0 50%,50% 10%,rgba(0,0,0,.1) 0,transparent 100%),-webkit-radial-gradient(100% 50%,50% 6%,rgba(0,0,0,.1) 0,transparent 100%)}
#tcons-contributors,.tcon{display:-webkit-flex;display:-ms-flexbox}
@-webkit-keyframes avatar-fadein{to{opacity:1}
}
@keyframes avatar-fadein{to{opacity:1}
}
#tcons-contributors{-webkit-animation:avatar-fadein 400ms 1 forwards ease-in;animation:avatar-fadein 400ms 1 forwards ease-in;-webkit-animation-delay:900ms;animation-delay:900ms;display:flex;-webkit-flex:1;-ms-flex:1;flex:1;margin:0;padding:0;list-style-type:none;opacity:0}
.contributor-avatar{height:auto;max-width:400px;width:100%}
.tcon{appearance:none;display:flex;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:40px;transition:.3s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:40px;background:0 0}
.tcon>*{display:block}
.tcon::-moz-focus-inner{border:0}
.tcon-menu__lines{display:inline-block;height:5.71px;width:40px;border-radius:2.86px;transition:.3s;background:#000;position:relative}
.tcon-menu__lines::after,.tcon-menu__lines::before{display:inline-block;height:5.71px;border-radius:2.86px;transition:.3s;background:#000;content:'';position:absolute;left:0;-webkit-transform-origin:2.86px center;transform-origin:2.86px center;width:100%}
.tcon-plus::after,.tcon-plus::before,.tcon-remove::after,.tcon-remove::before{top:37%;display:block;border-radius:2px;content:""}
.tcon-menu__lines::before{top:10px}
.tcon-menu__lines::after{top:-10px}
.tcon-transform .tcon-menu__lines{-webkit-transform:scale3d(.8,.8,.8);transform:scale3d(.8,.8,.8)}
.tcon-menu--arrow,.tcon-menu--arrowleft{width:auto}
.tcon-menu--arrow.tcon-transform .tcon-menu__lines::after,.tcon-menu--arrow.tcon-transform .tcon-menu__lines::before,.tcon-transform.tcon-menu--arrowleft .tcon-menu__lines::after,.tcon-transform.tcon-menu--arrowleft .tcon-menu__lines::before{top:0;width:22.22px}
.tcon-menu--arrow.tcon-transform .tcon-menu__lines::before,.tcon-transform.tcon-menu--arrowleft .tcon-menu__lines::before{-webkit-transform:rotate3d(0,0,1,45deg);transform:rotate3d(0,0,1,45deg)}
.tcon-menu--arrow.tcon-transform .tcon-menu__lines::after,.tcon-transform.tcon-menu--arrowleft .tcon-menu__lines::after{-webkit-transform:rotate3d(0,0,1,-45deg);transform:rotate3d(0,0,1,-45deg)}
.tcon-grid{padding:1rem}
.tcon-grid .tcon-grid__item{width:.5rem;height:.5rem;background:#000;color:#000;transition:.3s}
.tcon-grid.tcon-transform .tcon-grid__item{-webkit-transform:rotate3d(0,0,1,-45deg)scale3d(.8,.8,.8);transform:rotate3d(0,0,1,-45deg)scale3d(.8,.8,.8)}
.tcon-plus{height:40px;position:relative;-webkit-transform:scale(.75);transform:scale(.75);width:40px}
.tcon-plus::after,.tcon-plus::before{width:85%;height:25%;position:absolute;left:8%;transition:.3s;background:#000}
.tcon-plus:after{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.tcon-remove{height:40px;position:relative;-webkit-transform:scale(.75);transform:scale(.75);width:40px}
.tcon-remove::after,.tcon-remove::before{width:85%;height:25%;position:absolute;left:8%;transition:.3s;background:#000}
.tcon-remove::before{-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.tcon-remove::after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.tcon-search__item{display:inline-block;height:30px;width:30px;border-radius:0;transition:.3s;background:0 0;position:relative;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.tcon-search__item::after,.tcon-search__item::before{display:inline-block;height:30px;border-radius:0;transition:.3s;background:0 0;content:'';position:absolute;width:100%;top:0;bottom:0;margin:auto}
.tcon-search__item::before{height:4px;left:0;background:#000;border-radius:2.86px}
.tcon-search__item::after{right:0;background:#fff;border-radius:50%;width:12px;height:12px;border:2px solid #000;-webkit-transform-origin:50% 50%;transform-origin:50% 50%}
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines,.tcon-menu--xcross.tcon-transform .tcon-menu__lines{background:0 0}
.tcon-menu--xbutterfly{width:auto}
.tcon-menu--xbutterfly .tcon-menu__lines::after,.tcon-menu--xbutterfly .tcon-menu__lines::before{-webkit-transform-origin:50% 50%;transform-origin:50% 50%;transition:top .3s .6s ease,-webkit-transform .3s ease;transition:top .3s .6s ease,transform .3s ease}
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after,.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before{top:0;transition:top .3s ease,-webkit-transform .3s .5s ease;transition:top .3s ease,transform .3s .5s ease;width:40px}
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before{-webkit-transform:rotate3d(0,0,1,45deg);transform:rotate3d(0,0,1,45deg)}
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after{-webkit-transform:rotate3d(0,0,1,-45deg);transform:rotate3d(0,0,1,-45deg)}
.tcon-menu--xcross{width:auto}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after,.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before{-webkit-transform-origin:50% 50%;transform-origin:50% 50%;top:0;width:40px}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before{-webkit-transform:rotate3d(0,0,1,45deg);transform:rotate3d(0,0,1,45deg)}
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after{-webkit-transform:rotate3d(0,0,1,-45deg);transform:rotate3d(0,0,1,-45deg)}
.tcon-menu--minus{width:auto}
.tcon-menu--minus.tcon-transform .tcon-menu__lines::after,.tcon-menu--minus.tcon-transform .tcon-menu__lines::before{-webkit-transform:none;transform:none;top:0;width:40px}
.tcon-menu--arrow360left.tcon-transform{-webkit-transform:scale3d(.8,.8,.8)rotate3d(0,0,1,360deg);transform:scale3d(.8,.8,.8)rotate3d(0,0,1,360deg)}
.tcon-menu--arrowup{width:auto}
.tcon-menu--arrowup.tcon-transform{-webkit-transform:scale3d(.8,.8,.8)rotate3d(0,0,1,90deg);transform:scale3d(.8,.8,.8)rotate3d(0,0,1,90deg)}
.tcon-grid--collapse .tcon-grid__item{box-shadow:-.625rem 0,-.625rem .625rem,.625rem 0,.625rem -.625rem,0 -.625rem,-.625rem -.625rem,0 .625rem,.625rem .625rem}
.tcon-grid--collapse.tcon-transform .tcon-grid__item{box-shadow:-.5rem 0,0 0 transparent,.5rem 0,0 0 transparent,0 -.5rem,0 0 transparent,0 .5rem,0 0 transparent}
.tcon-grid--rearrange .tcon-grid__item{box-shadow:-.625rem -.625rem,0 -.625rem,.625rem -.625rem,-.625rem 0,.625rem 0,-.625rem .625rem,0 .625rem,.625rem .625rem}
.tcon-grid--rearrange.tcon-transform .tcon-grid__item{box-shadow:0 -.5rem,0 -1rem,.5rem 0,-1rem 0,1rem 0,-.5rem 0,0 1rem,0 .5rem}
.tcon-remove--check.tcon-transform::before{-webkit-transform:rotate(-135deg)translate(5%,-10%);transform:rotate(-135deg)translate(5%,-10%);top:50%;width:55%}
.tcon-remove--check.tcon-transform::after{-webkit-transform:rotate(-45deg)translate(20%,10%);transform:rotate(-45deg)translate(20%,10%);top:50%;width:85%}
.tcon-remove--chevron-left.tcon-transform::before{left:20%;-webkit-transform:translate(0,-55%)rotate(-45deg);transform:translate(0,-55%)rotate(-45deg);width:62%}
.tcon-remove--chevron-left.tcon-transform::after{left:20%;-webkit-transform:translate(0,55%)rotate(45deg);transform:translate(0,55%)rotate(45deg);width:62%}
.tcon-remove--chevron-right.tcon-transform::before{left:20%;-webkit-transform:translate(0,55%)rotate(-45deg);transform:translate(0,55%)rotate(-45deg);width:62%}
.tcon-remove--chevron-right.tcon-transform::after{left:20%;-webkit-transform:translate(0,-55%)rotate(45deg);transform:translate(0,-55%)rotate(45deg);width:62%}
.tcon-remove--chevron-down.tcon-transform::before{left:5%;-webkit-transform:rotate(-135deg);transform:rotate(-135deg);width:59%}
.tcon-remove--chevron-down.tcon-transform::after{left:auto;right:10%;-webkit-transform:rotate(135deg);transform:rotate(135deg);width:60%}
.tcon-remove--chevron-up.tcon-transform::before{left:5%;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);width:59%}
.tcon-remove--chevron-up.tcon-transform::after{left:auto;right:10%;-webkit-transform:rotate(45deg);transform:rotate(45deg);width:60%}
.tcon-plus--check.tcon-transform::before{-webkit-transform:rotate(-135deg)translate(5%,-10%);transform:rotate(-135deg)translate(5%,-10%);top:50%;width:55%}
.tcon-plus--check.tcon-transform::after{-webkit-transform:rotate(-45deg)translate(20%,10%);transform:rotate(-45deg)translate(20%,10%);top:50%;width:85%}
.tcon-plus--minus.tcon-transform::before{-webkit-transform:rotate(180deg)translate(0,0);transform:rotate(180deg)translate(0,0);width:62%}
.tcon-plus--minus.tcon-transform::after{-webkit-transform:rotate(-180deg)translate(-37.5%,0);transform:rotate(-180deg)translate(-37.5%,0);width:62%}
.tcon-plus--minusfold{height:40px;position:relative;-webkit-transform:scale(1);transform:scale(1);width:40px}
.tcon-plus--minusfold::after,.tcon-plus--minusfold::before{content:"";display:block;position:absolute;left:0;transition:.3s all ease-in-out;border-radius:5px;top:50%;-webkit-transform:translate(50%,-50%)rotate(0);transform:translate(50%,-50%)rotate(0);width:50%;height:3.33px;background:#000}
.tcon-plus--minusfold::after{top:50%;width:50%;height:3.33px;-webkit-transform:translate(50%,-50%)rotate(90deg);transform:translate(50%,-50%)rotate(90deg)}
.tcon-plus--minusfold.tcon-transform::after{-webkit-transform:translate(50%,-50%)rotate(0);transform:translate(50%,-50%)rotate(0)}
.tcon-plus--circle{border:3.33px solid #000;border-radius:80%;position:relative;background:0 0}
.tcon-plus--circle::after,.tcon-plus--circle::before{content:"";display:block;position:absolute;left:0;transition:.3s all ease-in-out;border-radius:5px;top:50%;-webkit-transform:translate(50%,-50%)rotate(0);transform:translate(50%,-50%)rotate(0);width:50%;height:3.33px;background:#000}
.tcon-plus--circle::after{top:50%;width:50%;height:3.33px;-webkit-transform:translate(50%,-50%)rotate(90deg);transform:translate(50%,-50%)rotate(90deg)}
.tcon-plus--circle.tcon-transform::before{-webkit-transform:translate(50%,-50%)rotate(45deg);transform:translate(50%,-50%)rotate(45deg)}
.tcon-plus--circle.tcon-transform::after{-webkit-transform:translate(50%,-50%)rotate(-45deg);transform:translate(50%,-50%)rotate(-45deg)}
.tcon-mail--envelope{width:40px;height:20px;background:#3D3F41;position:relative}
.tcon-mail--envelope:after,.tcon-mail--envelope:before{content:"";display:block;position:absolute;bottom:0;top:0;width:40px}
.tcon-mail--envelope:before{left:0;border-left:40px solid #BCBCBD;border-top:20px solid transparent}
.tcon-mail--envelope:after{right:0;border-right:40px solid #A5ACAE;border-top:20px solid transparent}
.tcon-mail--envelope.tcon-transform .tcon-mail--envelope__flap{-webkit-transform:rotate3d(360,0,0,180deg);transform:rotate3d(360,0,0,180deg);-webkit-transform-origin:0 100%;transform-origin:0 100%}
.tcon-mail--envelope__flap{border-bottom:10px solid transparent;border-left:20px solid transparent;border-right:20px solid transparent;border-color:transparent transparent #AEB3B5;position:absolute;-webkit-transform:rotate3d(0,0,0,0deg);transform:rotate3d(0,0,0,0deg);-webkit-transform-origin:0 100%;transform-origin:0 100%;transition:.2s -webkit-transform ease-in-out;transition:.2s transform ease-in-out;top:-10px;left:0}
.tcon-search--xcross.tcon-transform{-webkit-transform:scale3d(.8,.8,.8);transform:scale3d(.8,.8,.8)}
.tcon-search--xcross.tcon-transform .tcon-search__item::after,.tcon-search--xcross.tcon-transform .tcon-search__item::before{border-radius:2.86px;background:#000}
.tcon-search--xcross.tcon-transform .tcon-search__item::after{height:4px;width:100%;top:0;right:0;border:0;-webkit-transform:rotate3d(0,0,1,90deg);transform:rotate3d(0,0,1,90deg)}
.tcon-vid--play{height:40px;padding-top:0;padding-bottom:0;width:40px;transition:.375s all ease-in-out;-webkit-transform-origin:center center;transform-origin:center center}
.tcon-vid--play:after{border-style:solid;border-width:20px 0 20px 20px;border-color:transparent transparent transparent #000;content:"";display:block;height:0;-webkit-transform:translateX(25%);transform:translateX(25%);width:40px}
.tcon-vid--play.tcon-transform{background:#000;-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}
.tcon-loader--spinner360{border-radius:80%;display:block;height:40px;width:40px;position:relative;-webkit-animation:tcon-spin360 .675s linear infinite forwards;animation:tcon-spin360 .675s linear infinite forwards;background:#d3d3d3}
.tcon-loader--spinner360:after,.tcon-loader--spinner360:before{content:"";display:block;position:absolute}
.tcon-loader--spinner360:before{border-radius:0 90px 90px 0;height:40px;width:50%;top:0;right:0;z-index:1;background:#000;background-image:linear-gradient(lightgray,#000)}
.tcon-loader--spinner360:after{border-radius:80%;height:30px;width:30px;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);z-index:1;background:#fff}
@-webkit-keyframes tcon-spin360{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes tcon-spin360{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.tcon-visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.tcon-visuallyhidden:active,.tcon-visuallyhidden:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.list-reset{list-style-type:none;padding:0;margin:0}
.clearfix:after{content:"";display:table;clear:both}

.f13 {border-bottom:1px dotted #000; cursor:pointer; font-size: 13px} .min {color:#B92659; font-size: 10px;} 