         * {margin:0; padding:0;}

        .clearfix:after {
          clear: both;
          content: ".";
          display: block;
          height: 0;
          visibility: hidden;
         }

        .main {
            width: 1024px;
            color: #231f20;
            min-height: 300px;
            padding-top: 210px;
            height: auto;
            margin: 0 auto;
            background: url(../img/main.png) no-repeat 45px 30px;
            
        }

        .lefter {
            width: 300px;
            float: left;
            margin-right: 40px;
        }

        .main p.title {
            padding-left: 11px;
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 30px;
        }

        .clear {
            clear: both
        }

        .icon {
            width: 48px;
            height: 48px;
            float: left;
            margin-top: 10px;
        }

        .text {
            width: 200px;
            height:auto;
            padding:10px;
            margin: 0 auto;
            float:left;
        }

        .circle {
            display: block;
            float: left;
            width: 6px;
            height: 6px;
            margin: 8px;
            margin-right: 7px;
            border-radius: 50%;
            margin-left: 0;
        }

        .at {
            margin-top:10px;
        }

        .main p {font-size: 10px; margin-top: 5px;}
        a.acourse {
            font-size: 10px;
            color: #231f20;
            text-decoration: none;
            display: block;
            float: left;
            margin-top: 6px
        }
        a.acourse:hover {border-bottom:1px dotted #231f20;}

        .html .icon {background: url(https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-html-5-48.png) no-repeat center center;}
        .html .circle {background-color: #f06428;}

        .css .icon {background: url(https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-css-3-48.png) no-repeat center center;}
        .css .circle {background-color: #1073bb;}

        .js .icon {background: url(../img/js6.png) no-repeat center center;}
        .js .circle {background-color: #eedb4e;}

        .php .icon {background: url(../img/php7.png) no-repeat center center;}
        .php .circle {background-color: #5a69b4;}
            
        .python .icon {background: url(../img/p.png) no-repeat center center;}
        .python .circle {background-color: #ffd44f;}

        .cpp .icon {background: url(../img/cpp.png) no-repeat center center;}
        .cpp .circle {background-color: #00adcb;}
        
        .ch .icon {background: url(../img/ch.png) no-repeat center center; }
        .ch .circle {background-color: #652078;}

        .java .icon {background: url(../img/java.png) no-repeat center center;}
        .java .circle {background-color: #ea2d2e;}

        .math .icon {background: url(../img/math.png) no-repeat center center; }
        .math .circle {background-color: #921d18;}

        .inform .icon {background: url(../img/inform.png) no-repeat center center;}
        .inform .circle {background-color: #39b4af;}

        .podcast .icon {background: url(../img/podcast.png) no-repeat center center;}
        .podcast .circle {background-color: #c75b1e;}


        .center {margin: 50px auto; width: 210px; }
        footer {margin:50px auto; text-align: center; font-size:10px; font-weight: bold}
    

        .main {position: relative;} 
        #info {
            position: absolute;
            top: 70px;
            left: 354px;
        }

        #source {
                width: 220px;
                height: auto;
                display: flex;
                justify-content: space-between;
                margin: 12px 0 6px 0
            }

            #source div {
                width: 40px;
                height: 40px;
                background-size: 40px 40px;
                cursor: pointer;
                margin: 5px;
                margin-left: 0;
                
            }

            #mail {
                background: url(../img/mail.png) no-repeat;
            }

            #git {
                background: url(../img/git.png) no-repeat;
            }

            #you {
                background: url(../img/you.png) no-repeat;
            }

            #vk {
                background: url(../img/vk.png) no-repeat;
            }
            
            #num {
                font-size: 15px;
            }

            /* ani */

            .fadeOut {
              -webkit-animation: fadeOut_step .5s 1;
              -moz-animation:    fadeOut_step .5s 1;
              -o-animation:      fadeOut_step .5s 1;
              animation:         fadeOut_step .5s 1;
            }

            .fadeIn {
              -webkit-animation: fadeIn_step .5s 1;
              -moz-animation:    fadeIn_step .5s 1;
              -o-animation:      fadeIn_step .5s 1;
              animation:         fadeIn_step .5s 1;
            }

            @-webkit-keyframes fadeOut_step {
              0%   { opacity: 1;}
              100% { opacity: 0;}
            }

            @-webkit-keyframes fadeIn_step {
              0%   { opacity: 0;}
              100% { opacity: 1;}
            }

             #source a {display: block; width: 100%; height: 100%}