@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton'), url(font/5t8vP9Hx2udzw372glmOxA.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(font/Zd2E9abXLFGSr9G3YK2MsNbQxvdFQproHqwx84HIuqM.ttf) format('truetype');
}

* {margin: 0; padding: 0}
html {position: relative;}
html, body {
    height:100%;
    margin:0;
    min-width:1100px;
    min-height:500px;
    overflow: hidden;
    color:#fff;
}

body {
  counter-reset: numberparagraph;
}

.html {background-color: #f06428}
.html .img {background-image: url(img/h.png);}
.html .left {color:#fff;}

.css {background-color: #1073bb}
.css .img {background: url(img/c.png) no-repeat center center;}

.js {background-color: #eedb4e}
.js .left {color:#000; text-align: center; font-size: 100px; }
.js .img {background: url(img/js.png) no-repeat center center;}

.php {background-color: #5a69b4}
.php .img {background: url(img/php.png) no-repeat center center;}

#main {
    width:1100px;
    height:100%;
    margin: 0 auto;
    position: relative;
}


.center {
    width:1100px;
    height:500px;
    margin:-250px 0 0 -550px;
    top:50%;
    left:50%;
    position: absolute;
    overflow: hidden;
}


.left, .right {
  width: 49%;
  height: 460px;
  float:left;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 150px;
  text-shadow:1px 1px 7px #000000;
  color:#fff;
}

.right {
  width: 46%;
  margin-left: 15px;
  font-size: 22px;
  text-align: justify;
  text-shadow:1px 1px 7px #000000;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px;
  position: relative;
}

.panelright {
    width: 50%;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    background-color: #181a1d;
    background: rgba(0,0,0, 0.5);
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    z-index: -1;
    -moz-box-shadow: -1px 0px 9px #000000;
    -webkit-box-shadow: -1px 0px 9px #000000;
    box-shadow: -1px 0px 9px #000000;
}

  .img {margin: 5px auto; width:256px; height:256px;}
  #listing {
    height: 435px;
    overflow: hidden;
  }

  .box {margin-bottom: 100px; height: 435px; overflow: hidden;}

  .box p::after {
    content: " ............................................................................................."
  }

  .box p::before {
    counter-increment: numberparagraph;
    content: counter(numberparagraph) ". "; 
  }

  .xbox {
    position: relative;
  }


  .xbox .inform {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: -2px;
    cursor: pointer;
  }

  .xbox .inform  a {display: block; width: 100%; height: 100%}

  .xbox .inform.powerpoint {
    right: 25px;
    background: url(img/p.png) no-repeat center bottom;
    background-size: 14px; 
  }

  .xbox .inform.powerpoint[invalid] {
    -webkit-filter: sepia(1);
    filter: sepia(1);
  }

  .xbox .inform.home {
    right: 50px;
    background: url(img/hh.png) no-repeat center bottom;
    background-size: 14px;
  }

  .xbox .inform.video {
    right: 0px;
    background: url(img/video.png) no-repeat center bottom;
    background-size: 14px;
  }

  .box p {width:1000%; height:30px; text-align:left; overflow:hidden;}

  .next, .prev {
    width:80px;
    height:100px;
    position:absolute;
    opacity: 0.5;
    bottom: -30px;
    left: 220px;
    z-index: 2
  }
  .next {
    background: url(img/down.png) no-repeat center center;
  }

  .prev {
    background: url(img/up.png) no-repeat center center;
    display: none;
    left: 250px;
    height:80px;
  }

  .next:hover, .prev:hover {
    opacity: 1;
    cursor: pointer;
  }


  .b1 {color:#ff5065; text-shadow:1px 1px 3px #000;}
  .b2 {color:#fad900; text-shadow:1px 1px 3px #000;}
  .b3 {color:#9ede66; text-shadow:1px 1px 3px #000;}
  .b4 {color:#3bcbff; text-shadow:1px 1px 3px #000;}

  .modal {
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: none;
  text-align: center;
  overflow: auto;
  z-index: 10;
  }

  .modal .img {
  width: 80%;
    height: auto;
    margin: 85px auto;
  border:5px solid #fff;
  -moz-box-shadow: 0px 1px 6px #000000;
  -webkit-box-shadow: 0px 1px 6px #000000;
  box-shadow: 0px 1px 6px #000000;
  display: inline-block;
  vertical-align: middle;
  -webkit-filter: blur(0px);
   filter: blur(0px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=0);
  }
  

  .closepanel{
    position: absolute;
  top: 20px;
  width: 100%;
  }

  .close {
  padding: 10px;
  background: rgba(0, 0, 0, .5);
  color:#fff;
  text-align: center;
  width: 390px;
  margin: 10px auto;
  cursor: pointer;
  } 

  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .basket {
      display: inline;
  }