/*  .container, 	
	.left, .right, .slider, .ch {
		outline: 1px solid red
	}  */

	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}

	* html .clearfix             { zoom: 1; } /* IE6 */
	*:first-child+html .clearfix { zoom: 1; } /* IE7 */
	
	.container {
		width: 1024px;
		margin: 50px auto 0 auto;
	}

	.left, .right {
		width: 625px;
		height: 425px;
		float: left;
		margin-left: 25px;
	}

	.left {
		background: url(../img/tv.jpg) no-repeat;
		background-size: 100%;
		position: relative;

	}

	.right{
		width: 350px;
		margin-left: 10px;
	}

	.video {
		width: 495px;
		height: 276px;
		left: 66px;
		top: 55px;
		position: absolute;
		outline: 1px solid #000;
	}

	.slider {
		width: 924px;
		height: 100px;
		padding: 10px 24px 10px 24px;
		margin: 20px auto;
		border: 1px solid #D8D8D8;
		border-radius: 3px;
		overflow: hidden;
	}

	.slider .ch {
		width: 100px;
		height: 100px;
		margin: auto 15px;
		float:left;
		border: 1px solid #D8D8D8;
	}

	.id-1 {background: url(../img/1.png) no-repeat; /* первый канал */ }
	.id-2 {background: url(../img/2.jpg) no-repeat; /* россия-1 */ }
	.id-3 {background: url(../img/3.png) no-repeat; /* нтв */ }
	.id-4 {background: url(../img/4.jpg) no-repeat; /* life news */ }
	.id-5 {background: url(../img/5.png) no-repeat; /* стс */ }
	.id-6 {background: url(../img/7.jpg) no-repeat; /* тнт */ }
	.id-7 {background: url(../img/6.png) no-repeat; /* тв3 */ }